[Desktop Entry]
Type=Application
Terminal=true
Name=KMyMoney-Docker
Icon=/usr/share/icons/docker/kmymoney.jpg
Exec=sh /usr/local/bin/startkmymoney.sh
